<%-# Header starts -%>
<div class="row">
	<div class="col-8">
		<div class="gap">
			<nav aria-label="breadcrumb" role="navigation">
			  <ol class="breadcrumb">
			  	<li class="breadcrumb-item"><%= link_to "Surveys", pages_questionshome_path %></li>
			    <li class="breadcrumb-item active" aria-current="page">Employee Engagement <span class="text-muted small tiny">(50 questions total)</span></li>
			  </ol>
			</nav>
		</div>
	</div>
	<div class="col-4">
		<div class="gap">
			<div class="float-right">
				<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
							  <div class="btn-group" role="group">
							    <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Settings
							    </button>
							    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
							    	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Survey schedule</a>
							    	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal1">Email settings</a>
							    	<a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal2">Action board</a>
							    	<div class="dropdown-divider"></div>
							      <a class="dropdown-item" href="#">Pause survey</a>
							    </div>
							  </div>
							</div>
							<a href="#" class="btn btn-warning">See Insights</a>
			</div>
		</div>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

<div class="row">
	<div class="col-7">
		<p class="">We've used the most up-to-date research from Towers Watson, Aon Hewitt, Delloite and Gallup to formulate a comprehensive set of 50 questions that allow you to measure your employee's engagement levels across 10 sets of factors that we call <strong>Key Drivers</strong>.</p>
	</div>
</div>
<br>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 1">Key driver 1</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Strategy and leadership</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 2">Key driver 2</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">The organisation & culture</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 3">Key driver 3</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Communication</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 4">Key driver 4</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">My work</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 5">Key driver 5</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Management</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 6">Key driver 6</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Opportunities</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 7">Key driver 7</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Reward and recognition</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 8">Key driver 8</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Training and development</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 9">Key driver 9</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Quality of life</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<div class="row gap">
	<div class="col-12">
		<div class="card">
		  <div class="card-header">
		    <span class="badge badge-secondary small 10">Key driver 10</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Teamwork</h3>
				    <p class="card-text text-muted">Strategy and leadership refers to this that and other.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>






		</div>
	</div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Schedule survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Choose which teams should receive pulse surveys</label>
		    
		    <select class="selectpicker" multiple data-actions-box="true">
			  <option>Team A</option>
			  <option>Team B</option>
			  <option>Team C</option>
			</select>

		  </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Set survey frequency</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Every week</option>
		      <option>Every month</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">Send 5 questions every week. Great for an up-to-date view of your team</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlSelect1">Survey delivery</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Every Monday @ 2pm</option>
		      <option>Every Tuesday @ 2pm</option>
		      <option>Every Wednesday @ 2pm</option>
		      <option>Every Thursday @ 2pm</option>
		      <option>Every Friday @ 2pm</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">We'll start sending surveys at 2pm, but it might take a few mintues for everyone to receive theirs</small>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Default email address</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Default email name</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of HR Manager or CEO">

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Customise survey delivery email</label>
		    
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hey, we'd love your feedback...
Have your say and help us create a work environment we're all proud to be part of!"></textarea>
		    <small id="emailHelp" class="form-text text-muted">This email will be sent to all your employees each week with the surveys</small>

		 </div>
		 <div class="collapse" id="viewdetails" style="">
				<div class="form-group">
				    <label for="exampleFormControlSelect1">Send reminder email?</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Yes</option>
				      <option>No</option>
				    </select>
				    <small id="emailHelp" class="form-text text-muted">We'll send your employees a friendly reminder if they haven't completed their survey after 3 days.</small>
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Customise reminder email</label>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hey, just a quick reminder that we've not had your feedback this week! Please take 1 minute to let us know your thoughts."></textarea>
				    <small id="emailHelp" class="form-text text-muted">We'll start sending surveys at 2pm, but it might take a few mintues for everyone to receive theirs</small>
				  </div>
			</div>
		 <a href="#" data-toggle="collapse" data-target="#viewdetails" class="collapsed" aria-expanded="false">Reminder emails <em class="fa fa-chevron-down"></em></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Display action board?</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Yes</option>
		      <option>No</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">The action board will be available for employees to access at the end of each survey</small>
		  </div>
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Action board title</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Action board sub-title</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">

		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	




