<%-# Header starts -%>
<div class="row gap">
	<div class="col-6">
		<nav aria-label="breadcrumb" role="navigation">
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item active" aria-current="page">Surveys</li>
		  </ol>
		</nav>
	</div>
	<div class="col-6">
		<div class="float-right">
			
		</div>
	</div>
</div>
<%-# Header ends -%>

<%-# Separator -%>

    <div class="card">



      <div class="row">
      	<div class="col-md-3">
          <div class="card-img-bottom">

        </div>
        </div>
        <div class="col-md-9">
        	<div class="card-body">
	        	<div class="row">
	        		<div class="col-6">
	        			<div class="float-left">
	        				
							  <h2>Employee Engagement
							  </h2>

	        			</div>
	        		</div>
	        		<div class="col-6">
						<div class="float-right">
							<%= link_to pages_questionshomesettings_path do %>
								<button type="button" class="btn btn-light ">Settings <i class="fa fa-cog"></i></button>
							<% end %>
						</div>
					</div>
				</div>


				<div class="row">
	        		<div class="col-8">

	        			<p class="gap">Your next pulse survey is scheduled to be sent out on <b>Thurs 21st March at 2.00pm</b>   <a class="bill" href="#">Pause survey <em class="fa fa-pause"></em></a> </p>

	        			<%= link_to pages_questionstimeline_path do %>
							<button type="button" class="btn btn-warning ">View schedule</button>
						<% end %>

					

	        			<br>
	        			<br>

          
          	<a href="#" data-toggle="collapse" data-target="#viewdetails">View question library <em class="fa fa-chevron-down"></em></a>

	        			
	        		</div>
				</div>
			</div>
</div>
				

			
			<div class="collapse" id="viewdetails">
				<div class="container">
					<div class="container bill">
						<div class="row">
							<div class="col-7 bill">
								<br>
								<h3>Question library</h3>
								<p class="large text-muted">We've used the most up-to-date research from Towers Watson, Aon Hewitt, Delloite and Gallup to formulate a comprehensive set of 50 questions that allow you to measure your employee's engagement levels across 10 sets of factors that we call <strong>Key Drivers</strong>.</p>

							</div>


							<div class="col-12">
								<div class="row gap">
									<div class="col-12">
										<div class="card shadow">
										  <div class="card-header">
										    <span class="badge badge-secondary small 1">Key driver 1</span>
										  </div>
										  <div class="card-body">
										  	<div class="row">
										  		<div class="col-4">
												    <h3 class="card-title">Strategy and leadership</h3>
												    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture, having trust in their leadership and feeling valued connecting the dots behind <i>why</i> they come do work every day can be much harder.</p>
												</div>

												<div class="col-8">
													<ul class="list-group list-group-flush">
												    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
												    <li class="list-group-item">I am familiar with and understand the mission of <b>Perkbox</b></li>
												    <li class="list-group-item"><b>Perkbox</b> are constantly looking for ways to improve our products and services</li>
												    <li class="list-group-item">I trust that the leaders of <b>Perkbox</b> know what they're doing</li>
												    <li class="list-group-item"><b>Perkbox</b> understands and cares about its customer's needs</li>
												  </ul>
												</div>
											</div>
										  </div>
										</div>
									</div>
								</div>



					
				
	<br>


			<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 2">Key driver 2</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">The organisation & culture</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture, having trust in their leadership and feeling valued connecting the dots behind <i>why</i> they come do work every day can be much harder.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item"><b>Perkbox</b> have a good reputation as an employer</li>
				    <li class="list-group-item">At <b>Perkbox</b>, people are treated respectfully, regardless of their differences</li>
				    <li class="list-group-item">I can see myself working at <b>Perkbox</b> one year from now</li>
				    <li class="list-group-item"><b>Perkbox</b> are making a positive impact on society as a whole</li>
				    <li class="list-group-item"><b>Perkbox</b> work to attract, develop, and retain people with diverse backgrounds</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 3">Key driver 3</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Communication</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">I have access to the information I need to do my job well</li>
				    <li class="list-group-item">Information and knowledge are shared openly within <b>Perkbox</b></li>
				    <li class="list-group-item">There is good communication between different departments</li>
				    <li class="list-group-item">I feel that I have a say in major changes that affect me and my job</li>
				    <li class="list-group-item">I feel empowered to share my thoughts and opinions at <b>Perkbox</b></li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 4">Key driver 4</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">My work</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of <b>Perkbox</b></li>
				    <li class="list-group-item"><b>Perkbox</b> are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of <b>Perkbox</b> know what they're doing</li>
				    <li class="list-group-item"><b>Perkbox</b> understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>



<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 5">Key driver 5</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Management</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of <b>Perkbox</b></li>
				    <li class="list-group-item"><b>Perkbox</b> are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of <b>Perkbox</b> know what they're doing</li>
				    <li class="list-group-item"><b>Perkbox</b> understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 6">Key driver 6</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Opportunities</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of <b>Perkbox</b></li>
				    <li class="list-group-item"><b>Perkbox</b> are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of <b>Perkbox</b> know what they're doing</li>
				    <li class="list-group-item"><b>Perkbox</b> understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 7">Key driver 7</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Reward and recognition</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of <b>Perkbox</b></li>
				    <li class="list-group-item"><b>Perkbox</b> are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of <b>Perkbox</b> know what they're doing</li>
				    <li class="list-group-item"><b>Perkbox</b> understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 8">Key driver 8</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Learning and development</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>

<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 9">Key driver 9</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Quality of life</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>



<br>

<div class="row gap">
	<div class="col-12">
		<div class="card shadow">
		  <div class="card-header">
		    <span class="badge badge-secondary small 10">Key driver 10</span>
		  </div>
		  <div class="card-body">
		  	<div class="row">
		  		<div class="col-4">
				    <h3 class="card-title">Teamwork</h3>
				    <p class="card-text text-muted">Having a strong business strategy and leadership team to guide a company forwards can make a big impact on an employee's engagement level. Without understanding the bigger picture.</p>
				</div>

				<div class="col-8">
					<ul class="list-group list-group-flush">
				    <li class="list-group-item">Our leaders are genuinely interested in employee's opinions and ideas</li>
				    <li class="list-group-item">I am familiar with and understand the mission of Perkbox</li>
				    <li class="list-group-item">Perkbox are constantly looking for ways to improve our products and services</li>
				    <li class="list-group-item">I trust that the leaders of Perkbox know what they're doing</li>
				    <li class="list-group-item">Perkbox understands and cares about its customer's needs</li>
				  </ul>
				</div>
			</div>
		  </div>
		</div>
	</div>
</div>






<br>







					<div class="row">
		        		<div class="col-12">
							<div class="collapse" id="viewdetails">
								<br>
								<p class="">We've used the most up-to-date research from Towers Watson, Aon Hewitt, Delloite and Gallup to formulate a comprehensive set of 50 questions that allow you to measure your employee's engagement levels across 10 sets of factors that we call <strong>Key Drivers</strong>.</p>

							</div>
						</div>
					</div>





          </div>
        </div>


      </div>
    </div>

    <br>





		</div>
	</div>
</div>

</br>

 

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Survey schedule</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Choose which teams should receive pulse surveys</label>
		    
		    <select class="selectpicker" multiple data-actions-box="true">
			  <option>Account Management</option>
			  <option>Product & engineering</option>
			  <option>Marketing</option>
			</select>

		  </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Set survey frequency</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Every week</option>
		      <option>Every month</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">Send 5 questions every week. Great for an up-to-date view of your team</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlSelect1">Survey delivery</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Every Monday @ 2pm</option>
		      <option>Every Tuesday @ 2pm</option>
		      <option>Every Wednesday @ 2pm</option>
		      <option>Every Thursday @ 2pm</option>
		      <option>Every Friday @ 2pm</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">We'll start sending surveys at 2pm, but it might take a few mintues for everyone to receive theirs</small>
		  </div>
		  <div class="form-group">
		    <label for="exampleFormControlSelect1">Display action board?</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Yes</option>
		      <option>No</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">The action board will be available for employees to access at the end of each survey</small>
		  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Email settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Default email address</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">
		    <small id="emailHelp" class="form-text text-muted">What email address do you want all surveys to be sent from?</small>

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Default email name</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of HR Manager or CEO">
		    <small id="emailHelp" class="form-text text-muted">What name do you want associated with the emails you send?</small>

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Customise survey delivery email</label>
		    
		    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hey, we'd love your feedback...
Have your say and help us create a work environment we're all proud to be part of!"></textarea>
		    <small id="emailHelp" class="form-text text-muted">This email will be sent to all your employees each week with the surveys</small>

		 </div>
		 <div class="collapse" id="viewdetails" style="">
				<div class="form-group">
				    <label for="exampleFormControlSelect1">Send reminder email?</label>
				    <select class="form-control" id="exampleFormControlSelect1">
				      <option>Yes</option>
				      <option>No</option>
				    </select>
				    <small id="emailHelp" class="form-text text-muted">We'll send your employees a friendly reminder if they haven't completed their survey after 3 days.</small>
				  </div>
				  <div class="form-group">
				    <label for="exampleFormControlSelect1">Customise reminder email</label>
				    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hey, just a quick reminder that we've not had your feedback this week! Please take 1 minute to let us know your thoughts."></textarea>
				    <small id="emailHelp" class="form-text text-muted">We'll start sending surveys at 2pm, but it might take a few mintues for everyone to receive theirs</small>
				  </div>
			</div>
		 <a href="#" data-toggle="collapse" data-target="#viewdetails" class="collapsed" aria-expanded="false">Reminder emails <em class="fa fa-chevron-down"></em></a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action board</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Display action board?</label>
		    <select class="form-control" id="exampleFormControlSelect1">
		      <option>Yes</option>
		      <option>No</option>
		    </select>
		    <small id="emailHelp" class="form-text text-muted">The action board will be available for employees to access at the end of each survey</small>
		  </div>
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Action board title</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">

		 </div>
		 <div class="form-group">
		    <label for="exampleFormControlSelect1">Action board sub-title</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="insights@insights.me">

		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>	

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send test survey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<div class="form-group">
		    <label for="exampleFormControlSelect1">Enter email address</label>
		    
		    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="youremail@insights.com">

		 </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Send test email</button>
      </div>
    </div>
  </div>
</div>	

<script type="text/javascript">
	// progressbar.js@1.0.0 version is used
// Docs: http://progressbarjs.readthedocs.org/en/1.0.0/

var bar = new ProgressBar.SemiCircle(container, {
  strokeWidth: 6,
  easing: 'easeInOut',
  duration: 1400,
  color: '#FFEA82',
  trailColor: '#eee',
  trailWidth: 1,
  svgStyle: null
});

bar.animate(1.0);  // Number from 0.0 to 1.0
</script>

<script type="text/javascript">
  var g = new JustGage({
    id: "gauge",
    value: 4,
    min: 0,
    max: 5,
    gaugeWidthScale: 0.6,
    customSectors: [{
          	color: '#00ADEE',
            lo: 0,
            hi: 33
          },
          {
          	color: '#00ADEE',
            lo: 33,
            hi: 66
          },{
          	color: '#00ADEE',
            lo: 66,
            hi: 100
          }]
  });
</script>
